<script src="https://kit.fontawesome.com/384ea4421e.js" crossorigin="anonymous"></script>
<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>
  <p>
    <span for="img" aria-label="location"><i class="fa-solid fa-location-dot"></i></span>
    {{location}}
  </p>
  <img class="image-size" src={{image_url}}>
  <p>
    <button class="btn btn-primary" onclick="window.open('https://www.google.com/maps/search/?api=1&query={{location}}')">Checkout this Spot!</button>
  </p>
  <a href="/profile">Back to My Spots</a> 
</div>